# Ignore docs folder completely
knowledge_base/docs/

# Ignore embeddings folder completely
knowledge_base/embeddings/

# Ignore Conversation Files
conversation_save_files/

# Ignore Python cache folders
__pycache__/
*.pyc
*.pyo
*.pyd
