# Ignore docs folder completely
knowledge_base/docs/

# Ignore embeddings folder completely
knowledge_base/embeddings/

# Ignore Conversation Files
knowledge_base/Conversation Save Files/

# Ignore Python cache folders
__pycache__/
*.pyc
*.pyo
*.pyd
